@import url(http://fonts.googleapis.com/css?family=VT323);

@font-face {
  font-family: '01-Digit';
    src:  url('../fonts/01-Digit.ttf.woff') format('woff'),
    url('../fonts/01-Digit.ttf.svg#01-Digit') format('svg'),
    url('../fonts/01-Digit.ttf.eot'),
    url('../fonts/01-Digit.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}